<div class="nav">
    <div class="ul-wrapper">
        <ul>
            <li data-hash="recommend"><a class="active" href="#">今日推荐</a></li>
            <li data-hash="beauty"><a href="#">美妆</a></li>
            <li data-hash="mab"><a href="#">母婴</a></li>
            <li data-hash="inter"><a href="#">国际</a></li>
            <li data-hash="household"><a href="#">家电</a></li>
            <li data-hash="furnishing"><a href="#">家居</a></li>
            <li data-hash="life"><a href="#">生活</a></li>
            <li data-hash="weipin"><a href="#">唯品</a></li>
        </ul>
    </div>
    <div><i class="yo-ico">&#xe63c;</i></div>
</div>