<!-- <div class="main-beauty-wrap">
    <div class="swiper-container">
        <div class="swiper-wrapper">
                <div class="swiper-slide"><img class="beauty-img1" src="" alt=""></div>
                <div class="swiper-slide"><img class="beauty-img2" src="" alt=""></div>
                <div class="swiper-slide"><img class="beauty-img3" src="" alt=""></div>
                <div class="swiper-slide"><img class="beauty-img4" src="" alt=""></div>
        </div>
        <div class="swiper-pagination"></div>
    </div> -->
<!-- <div class="beauty-goods"></div> -->
<!-- <div class="beauty-goods2"></div> -->
<!-- <div class="beauty-img"></div> -->
<!-- <div class="beauty-goods3"></div>  -->
<!-- <div class="beauty-goods4"></div>
    <div class="beauty-goods5"></div>
    <div class="beauty-goods6"></div>
    <div class="beauty-img2"></div> -->
<!-- <div class="beauty-img3"></div> -->
<!-- <div class="beauty-title"></div> -->
<!-- <div class="beauty-shop-list"></div>
</div> -->
<div class="main-beauty-wrap">
    <div class="swiper-container">
        <div class="swiper-wrapper">
                <div class="swiper-slide"><img class="beauty-img1" src="http://a.vpimg2.com/upload/flow/2019/08/09/55/15653618312303.jpg" alt=""></div>
                <div class="swiper-slide"><img class="beauty-img2" src="http://a.vpimg4.com/upload/flow/2019/03/01/108/15514477604822.jpg" alt=""></div>
                <div class="swiper-slide"><img class="beauty-img3" src="http://a.vpimg3.com/upload/flow/2019/07/19/181/15635346582905.jpg" alt=""></div>
                <div class="swiper-slide"><img class="beauty-img4" src="http://a.vpimg2.com/upload/flow/2019/08/09/45/15653619957423.jpg" alt=""></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="beauty-goods4">
        <div> <img src="http://a.vpimg2.com/upload/flow/2019/05/22/113/15585166833107.jpg" alt=""></div>
        <div> <img src="http://a.vpimg3.com/upload/flow/2019/05/22/41/15585167196394.gif" alt=""></div>
        <div> <img src="http://a.vpimg2.com/upload/flow/2019/05/22/129/15585170806298.gif" alt=""></div>
        <div> <img src="http://a.vpimg3.com/upload/flow/2019/05/22/115/15585170698825.jpg" alt=""></div>
        <div> <img src="http://a.vpimg2.com/upload/flow/2019/05/22/169/15585170547480.jpg" alt=""></div>
    </div>
    <div class="beauty-goods5">
        <div> <img src="http://a.vpimg4.com/upload/flow/2019/05/22/197/15585171159765.gif" alt=""></div>
        <div> <img src="http://a.vpimg4.com/upload/flow/2019/05/22/69/15585171426569.jpg" alt=""></div>
        <div> <img src="http://a.vpimg4.com/upload/flow/2019/05/22/93/15585171698382.jpg" alt=""></div>
        <div> <img src="http://a.vpimg2.com/upload/flow/2019/05/22/187/15585171973062.jpg" alt=""></div>
        <div> <img src="http://a.vpimg4.com/upload/flow/2019/05/22/163/15585172238251.jpg" alt=""></div>
    </div>
    <div class="beauty-goods6"><img
            src="http://b.appsimg.com/upload/mst/2019/06/20/7/mst_a25b0366d1f15a41b94b457c6c0c1b71.jpg">
        <div>
            <div>
                <img src="http://h2.appsimg.com/a.appsimg.com/upload/merchandise/pdcvis/108846/2019/0614/106/de50cde6-17b7-4e33-a04d-afaa85785b21.jpg"
                    alt="">
                <img src="http://h2.appsimg.com/a.appsimg.com/upload/brandcool/0/e23455b2cf5c491eb5598ce50ff26810/10000611/primary.png"
                    alt="">
                <p><span>快抢价</span><span>¥79</span></p>
            </div>
            <div>
                <img src="http://h2.appsimg.com/a.appsimg.com/upload/merchandise/pdcvis/137604/2019/0729/146/39d0123b-960b-420e-b530-2eafb1aa8c3d.jpg"
                    alt="">
                <img src="http://h2.appsimg.com/a.appsimg.com/upload/brandcool/0/150986b368134db9835a82648a7a9e30/10020419/primary.png"
                    alt="">
                <p><span>快抢价</span><span>¥89</span></p>
            </div>
            <div>
                <img src="http://h2.appsimg.com/a.appsimg.com/upload/merchandise/pdcvis/2018/11/07/149/15415805419731.jpg"
                    alt="">
                <img src="http://h2.appsimg.com/a.appsimg.com/upload/brandcool/0/1d4b3e513db946d691e25566693f204f/10000521/primary.png"
                    alt="">
                <p><span>快抢价</span><span>¥385</span></p>
            </div>
            <div>
                <img src="http://h2.appsimg.com/a.appsimg.com/upload/merchandise/pdcvis/600863/2019/0413/141/6d7eec41-e972-4a94-88ca-93d70701c140.jpg"
                    alt="">
                <img src="http://h2.appsimg.com/a.appsimg.com/upload/brandcool/0/2e8b5dec98cc489bbea1bfd1e8a61acb/10015615/primary.png"
                    alt="">
                <p><span>快抢价</span><span>¥69</span></p>
            </div>
        </div>
    </div>
    <div class="beauty-img2"><img
            src="http://a.vpimg4.com/upload/flow/2019/07/11/51/15628404067846.jpg"></div>
    <div class="beauty-shop-list"></div>
</div>