<div class="classify-wrap">
    <div class="classify-list">
        <ul>
            <li data-hash="hash1" class="classify-list-active">为你推荐</li>
            <li data-hash="hash2">女装</li>
            <li data-hash="hash3">男装</li>
            <li data-hash="hash4">男女内衣</li>
            <li data-hash="hash5">女鞋</li>
            <li data-hash="hash6">男鞋</li>
            <li data-hash="hash7">箱包皮具</li>
            <li data-hash="hash8">手表配饰</li>
            <li data-hash="hash9">护肤彩妆</li>
            <li data-hash="hash10">个人护理</li>
            <li data-hash="hash11">母婴</li>
            <li data-hash="hash12">运动户外</li>
            <li data-hash="hash13">手机数码</li>
            <li data-hash="hash14">家用电器</li>
            <li data-hash="hash15">家居家纺</li>
            <li data-hash="hash16">家居家装</li>
            <li data-hash="hash17">生活超市</li>
            <li data-hash="hash18">唯品国际</li>
            <li data-hash="hash19">医药健康</li>
            <li data-hash="hash20">唯品金融</li>
        </ul>
    </div>
    <div class="classify-goods">
        <div class="classify-goods-content"></div>
    </div>
</div>