main{
    .household-wrap{
        height: 1.5rem;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .swiper-pagination{
        display: flex;
        justify-content: flex-end;

    }
    .household-goods1,.household-goods2,.household-goods3,.household-goods6,.household-img5{
        display: flex;
        height: 1.75rem;
        >div{
            flex: 1;
            img{
                width:100%;
                height:100%;
            }
        }
    }
    .household-goods2,.household-goods3{
        height:.84rem;
    }
    .household-img {
        padding-top:.08rem;
        height: 1.1rem;
        img{
            width:100%;
            height:100%;
        }
    }
    .household-goods6{
        height:1.75rem;
    }
    .household-goods7{
        height: 2.25rem;
        width: 100%;
        position: relative;
        >img{
            position: absolute;
            width: 100%;
            height:100%;
        }
        >div{
            position: relative;
            z-index: 2;
            flex:1;
            padding: 0 .1rem;
            padding-top: .8rem;
            padding-bottom: .1rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 .03rem;
                img:first-child{
                    width: 100%;
                    height:100%;
                }
                img:nth-child(2){
                    width: .4rem;
                    height: .2rem;
                }
                p{  
                    font-size: .12rem;
                    span:first-child{
                        background: rgb(222, 61, 150);
                        color:#fff;
                        
                    }
                    span:last-child{
                        padding-left: .05rem;
                       color:rgb(222, 61, 150); 
                    }
                    
                }
            }
        } 
    }
    .household-img2{
        height: 1.51rem;
        img{
            width:100%;
            height:100%;
        }
    }
    .household-img3,.household-img6{
        height: .575rem;
        img{
            width:100%;
            height:100%;
        }
    }
    .household-img4{
        height: 1.8rem;
        img{
            width:100%;
            height:100%;
        }
    }
    .household-img5{
        height: .7rem;
    }
    .household-shop-list{
        >div{
            padding:0 .15rem ;
            >div{
                padding-top:.15rem;
            }
            >div:first-child{
                padding-top: 0;
            }
            img{
                height: 1.68rem;
                width: 100%;
            }
            p{
                padding-left: .05rem;
                padding-right: .05rem;
                background: #fff;
            }
            p:nth-child(2){
                display: flex;
                justify-content: space-between;
                align-items: center;
                span:first-child{
                    font-family: PingFangSC-Regular;
                    color: rgb(34, 34, 34);
                    line-height: 0.3rem;
                    font-weight: bold;
                }
                span:nth-child(2){
                    font-family: PingFangSC-Regular;
                     color: rgb(152, 152, 159);
                     line-height: 0.3rem;
                }
            }
            p:last-child{
                color: rgb(222, 61, 150)
            }
        }
    }
}