{{each data}}
    <div>
        <img src="{{$value.data.imageUrl}}" alt="">
    </div>
{{/each data}}

{{each data2}}
    <div>
        <img src="{{$value.data.imageUrl}}" alt="">
    </div>
{{/each data2}}

{{each data3}}
    <div>
        <img src="{{$value.data.imageUrl}}" alt="">
    </div>
{{/each data3}}

{{each data6}}
    <div>
        <img src="{{$value.data.imageUrl}}" alt="">
    </div>
{{/each data6}}

{{each data7}}
    <div>
        <img src="{{$value.data.imageUrl}}" alt="">
    </div>
{{/each data7}}

{{each data8}}
    <div>
        <img src="{{$value.data.imageUrl}}" alt="">
    </div>
{{/each data8}}