<!-- <div class="household-wrap">
    <div class="swiper-container">
        <div class="swiper-wrapper">
                <div class="swiper-slide"><img class="img1" src="" alt=""></div>
                <div class="swiper-slide"><img class="img2" src="" alt=""></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    
    <div class="household-goods2"></div>
    <div class="household-goods3"></div>
    <div class="household-goods1"></div> -->
<!-- <div class="household-img"></div> -->
<!-- <div class="household-goods6"></div>
    <div class="household-goods7"></div>
    <div class="household-img2"></div>
    <div class="household-img3"></div>
    <div class="household-img4"></div>
    <div class="household-img5"></div>
    <div class="household-img6"></div>
    <div class="household-shop-list"></div>
</div> -->
<div class="household-wrap">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img class="img1"
                    src="http://a.vpimg2.com/upload/flow/2019/08/07/41/15651612370914.gif" alt=""></div>
            <div class="swiper-slide"><img class="img2" src="" alt=""></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="household-goods2">
        <div> <img src="http://a.vpimg4.com/upload/flow/2019/08/07/152/15651625243947.jpg" alt=""> </div>
        <div> <img src="http://a.vpimg2.com/upload/flow/2019/08/07/114/15651625357625.jpg" alt=""> </div>
        <div> <img src="http://a.vpimg4.com/upload/flow/2019/08/07/197/15651625455605.jpg" alt=""> </div>
        <div> <img src="http://a.vpimg2.com/upload/flow/2019/08/07/61/15651625557107.jpg" alt=""> </div>
        <div> <img src="http://a.vpimg4.com/upload/flow/2019/08/07/114/15651625730309.jpg" alt=""> </div>
    </div>
    <div class="household-goods3">
        <div> <img src="http://a.vpimg3.com/upload/flow/2019/08/07/47/15651647863817.jpg" alt=""> </div>
        <div> <img src="http://a.vpimg2.com/upload/flow/2019/08/07/198/15651648101668.jpg" alt=""> </div>
        <div> <img src="http://a.vpimg2.com/upload/flow/2019/08/07/17/15651648192015.jpg" alt=""> </div>
        <div> <img src="http://a.vpimg4.com/upload/flow/2019/08/07/190/15651650689468.jpg" alt=""> </div>
        <div> <img src="http://a.vpimg4.com/upload/flow/2019/08/07/40/15651650872579.jpg" alt=""> </div>
    </div>
    <div class="household-goods1">
        <div> <img src="http://a.vpimg2.com/upload/flow/2019/08/07/18/15651767037577.jpg" alt=""> </div>
        <div> <img src="http://a.vpimg2.com/upload/flow/2019/08/07/151/15651641195124.jpg" alt=""> </div>
        <div> <img src="http://a.vpimg4.com/upload/flow/2019/08/07/103/15651641852080.jpg" alt=""> </div>
    </div> <!-- <div class="household-img"></div> -->
    <div class="household-goods6">
        <div> <img src="http://a.vpimg2.com/upload/flow/2019/08/07/135/15651766859577.jpg" alt=""> </div>
        <div> <img src="http://a.vpimg2.com/upload/flow/2019/08/07/145/15651642155222.jpg" alt=""> </div>
        <div> <img src="http://a.vpimg3.com/upload/flow/2019/08/07/148/15651642336149.jpg" alt=""> </div>
    </div>
    <div class="household-goods7"><img
            src="http://b.appsimg.com/upload/mst/2019/06/20/49/mst_773cabc3a7d4b21bdf0f3b7d4bc2f183.jpg">
        <div>
            <div>
                <img src="http://h2.appsimg.com/a.appsimg.com/upload/merchandise/pdcvis/112433/2019/0413/17/e51ac065-cf14-482d-96c6-c04a398f48cb.jpg"
                    alt="">
                <img src="http://h2.appsimg.com/a.appsimg.com/upload/brandcool/0/c64b5317bde14a56b9a9530b7779c9b9/10012491/primary.png"
                    alt="">
                <p><span>快抢价</span><span>¥188</span></p>
            </div>
            <div>
                <img src="http://h2.appsimg.com/a.appsimg.com/upload/merchandise/pdcvis/112082/2018/0531/192/c9d3324c-a4a1-46e3-8ea3-769319421ea4.jpg"
                    alt="">
                <img src="http://h2.appsimg.com/a.appsimg.com/upload/brandcool/0/27576e551b0c4ec49ffdb015d81dd9b5/10000690/primary.png"
                    alt="">
                <p><span>快抢价</span><span>¥36</span></p>
            </div>
            <div>
                <img src="http://h2.appsimg.com/a.appsimg.com/upload/merchandise/pdcvis/100084/2019/0527/107/9f4c447d-9a14-4e90-b5bf-1fadc0d9fbc0.jpg"
                    alt="">
                <img src="http://h2.appsimg.com/a.appsimg.com/upload/brandcool/0/ca00a8dcee9949078be5ef9367a9fea5/10003969/primary.png"
                    alt="">
                <p><span>快抢价</span><span>¥99</span></p>
            </div>
            <div>
                <img src="http://h2.appsimg.com/a.appsimg.com/upload/merchandise/pdcvis/606366/2018/0801/161/ddf3ed79-9e42-4b2a-93bb-9ef3fd6bbe5d.jpg"
                    alt="">
                <img src="http://h2.appsimg.com/a.appsimg.com/upload/brandcool/0/01e689e947a04e84b1e0202f23fc02ce/10006385/primary.png"
                    alt="">
                <p><span>快抢价</span><span>¥79</span></p>
            </div>
        </div>
    </div>
    <div class="household-img2"><img src="http://a.vpimg4.com/upload/flow/2019/08/07/156/15651483435547.gif"></div>
    <div class="household-img3"><img src="http://a.vpimg2.com/upload/flow/2018/05/30/102/15276832035027.jpg"></div>
    <div class="household-img4"><img src="http://a.vpimg3.com/upload/flow/2019/08/07/185/15651583631179.gif"></div>
    <div class="household-img5">
        <div> <img src="http://a.vpimg3.com/upload/flow/2019/07/22/177/15637608506465.jpg" alt=""> </div>
        <div> <img src="http://a.vpimg3.com/upload/flow/2019/06/06/123/15597868215126.jpg" alt=""> </div>
        <div> <img src="http://a.vpimg2.com/upload/flow/2019/07/01/64/15619460505504.jpg" alt=""> </div>
        <div> <img src="http://a.vpimg3.com/upload/flow/2018/10/25/39/15404355317700.gif" alt=""> </div>
    </div>
    <div class="household-img6"><img src="http://a.vpimg4.com/upload/flow/2018/05/29/171/15275874022170.jpg"></div>
    <div class="household-shop-list"></div>
</div>