<!-- <div>
    <div class="main-slide">
        <img src="https://h2.appsimg.com/a.appsimg.com/upload/flow/2018/12/19/114/15452109808538.jpg" alt="">
    </div>
    <div class="goods-list-wrap">
        <div class="main-goods-list"></div>
    </div>
    <div class="goods-list-wrap2">
        <div class="main-goods-list2"></div>
    </div>
    <div class="main-list2-title"><img></div>
    <div class="main-list2-content"></div>
    <div class="main-list3">
        <img>
        <div class="main-list3-content"></div>
    </div>
    <div class="main-list4">
        <img>
        <div class="main-list4-content">
        </div>
    </div>
    <div class="today-sale"></div>
    <div class="shop-wrap">
    </div>
</div> -->
<div>
    <div class="main-slide"> <img
            src="https://h2.appsimg.com/a.appsimg.com/upload/flow/2018/12/19/114/15452109808538.jpg" alt=""> </div>
    <div class="goods-list-wrap">
        <div class="main-goods-list"><img src="http://a.vpimg4.com/upload/flow/2019/05/15/94/15579224524240.png" alt="">
            <div><img src="http://a.vpimg4.com/upload/flow/2019/07/19/74/15635382610852.png" alt=""></div>
            <div><img src="http://a.vpimg2.com/upload/flow/2019/07/19/148/15635383515544.png" alt=""></div>
            <div><img src="http://a.vpimg3.com/upload/flow/2019/07/19/102/15635385870688.png" alt=""></div>
            <div><img src="http://a.vpimg2.com/upload/flow/2019/07/19/94/15635387103422.png" alt=""></div>
            <div><img src="http://a.vpimg4.com/upload/flow/2019/07/19/7/15635388624413.png" alt=""></div>
        </div>
    </div>
    <div class="goods-list-wrap2">
        <div class="main-goods-list2"><img src="http://a.vpimg4.com/upload/flow/2019/05/15/94/15579224524240.png"
                alt="">
            <div><img src="http://a.vpimg3.com/upload/flow/2019/04/22/28/15559158215277.png" alt=""></div>
            <div><img src="http://a.vpimg3.com/upload/flow/2019/07/19/134/15635391523573.png" alt=""></div>
            <div><img src="http://a.vpimg4.com/upload/flow/2019/08/06/194/15650649627130.png" alt=""></div>
            <div><img src="http://a.vpimg4.com/upload/flow/2019/04/22/22/15559159941553.png" alt=""></div>
            <div><img src="http://a.vpimg4.com/upload/flow/2019/07/16/132/15632721405126.png" alt=""></div>
        </div>
    </div>
    <div class="main-list2-title"><img src="http://a.vpimg4.com/upload/flow/2019/08/07/12/15651776001482.jpg"></div>
    <div class="main-list2-content">
        <div><img src="http://a.vpimg3.com/upload/flow/2019/08/06/170/15650725299200.jpg" alt=""></div>
    </div>
    <div class="main-list3"> <img
            src="http://b.appsimg.com/upload/mst/2019/07/26/44/mst_73c85d7a6cbdff6643c5f864ef240e7b.jpg">
        <div class="main-list3-content">
            <div>
                <img src="http://h2.appsimg.com/a.appsimg.com/upload/merchandise/pdcvis/107013/2019/0429/185/5f735a81-64e8-455a-9709-bf9f2e03e88c.jpg"
                    alt="">
                <img src="http://h2.appsimg.com/a.appsimg.com/upload/brandcool/0/17ff6f15961b44bca1747e18c17ecff8/10000750/primary.png"
                    alt="">
                <p>¥31</p>
            </div>
            <div>
                <img src="http://h2.appsimg.com/a.appsimg.com/upload/merchandise/pdcvis/605294/2019/0523/59/7440c821-a354-4ef2-9ffd-bcc3945ab99f.jpg"
                    alt="">
                <img src="http://h2.appsimg.com/a.appsimg.com/upload/brandcool/0/6d360a433e284417a14d03628cce1945/10032004/primary.png"
                    alt="">
                <p>¥55</p>
            </div>
            <div>
                <img src="http://h2.appsimg.com/a.appsimg.com/upload/merchandise/pdcvis/2019/01/14/54/2e45a70f-10e4-4bd6-b3f8-12d26b21f6c9.jpg"
                    alt="">
                <img src="http://h2.appsimg.com/a.appsimg.com/upload/brandcool/0/feaae40194b74a44b7c1e46969169c0a/10000656/primary.png"
                    alt="">
                <p>¥39</p>
            </div>
            <div>
                <img src="http://h2.appsimg.com/a.appsimg.com/upload/merchandise/pdcvis/605294/2019/0705/197/56a44cd1-c5cb-4c38-bbef-9c9654c71ec4.jpg"
                    alt="">
                <img src="http://h2.appsimg.com/a.appsimg.com/upload/brandcool/0/6d360a433e284417a14d03628cce1945/10032004/primary.png"
                    alt="">
                <p>¥79</p>
            </div>
        </div>
    </div>
    <div class="main-list4"> <img
            src="http://b.appsimg.com/upload/mst/2019/07/10/113/mst_69da8880a7eb92cbc3d4f43a5d8f7d6b.png">
        <div class="main-list4-content">
            <div>
                <img src="http://h2.appsimg.com/a.appsimg.com/upload/merchandise/pdcvis/2019/07/25/173/54fb35a1-8d9a-4bd4-9926-6a250e5c7498_420_531.jpg"
                    alt="">
                <div>
                    <img src="http://h2.appsimg.com/a.appsimg.com/upload/brandcool/0/58add976b7f24a1e917aaa779c25f79b/10028906/black.png"
                        alt="">
                    <p>共342款</p>
                </div>
                <p><span>疯抢价</span><span>¥82</span></p>
            </div>
            <div>
                <img src="http://h2.appsimg.com/a.appsimg.com/upload/merchandise/pdcvis/2019/02/15/121/172ac2b5-2b02-48cf-99d0-00b470f72ea8_5t.jpg"
                    alt="">
                <div>
                    <img src="http://h2.appsimg.com/a.appsimg.com/upload/brandcool/0/0fb9c2fde2294a0cb77763541131ea0d/10036382/black.png"
                        alt="">
                    <p>共116款</p>
                </div>
                <p><span>疯抢价</span><span>¥386</span></p>
            </div>
            <div>
                <img src="http://h2.appsimg.com/a.appsimg.com/upload/merchandise/pdcvis/2019/07/22/133/158689ca-fc18-4fee-adeb-8fa0254ebadc_420_531.jpg"
                    alt="">
                <div>
                    <img src="http://h2.appsimg.com/a.appsimg.com/upload/brandcool/0/1d1dae39e79c4991a41893d7b9a568be/10033420/black.png"
                        alt="">
                    <p>共299款</p>
                </div>
                <p><span>疯抢价</span><span>¥39</span></p>
            </div>
        </div>
    </div>
    <div class="today-sale"><img
            src="http://h2.appsimg.com/b.appsimg.com/upload/momin/2018/11/13/117/1542092001276.jpg"></div>
    <div class="shop-wrap">
    </div>
</div>