{{each res}}
    {{if $value.pic === undefined}}
    <div>
        <a href="{{$value.link}}">
            <img src="{{$value.mobileImageOne}}" alt="">
            <p><span>{{$value.salesName}}</span></p>
            <p>{{$value.agio.replace(/<[^><]+>/g,"")}}</p>
        </div>
    {{else}}
    <div>
        <a href="{{$value.link}}">
            <img src="{{$value.pic}}" alt="">
            <p><span>{{$value.salesName}}</span></p>
            <p >{{$value.agio}}</p>
        </div>
    {{/if}}
{{/each res}}

       