@font-face {
    font-family: yofont;
    src: 
      url(/assets/icons/iconfont.woff) format("woff"), 
      url(/assets/icons/iconfont.ttf) format("truetype");
  }
@font-face {
    font-family: yofont;
    src: 
      url(/assets/icons2/iconfont.woff) format("woff"), 
      url(/assets/icons2/iconfont.ttf) format("truetype");
  }
@font-face {
    font-family: yofont;
    src: 
      url(/assets/icon3/iconfont.woff) format("woff"), 
      url(/assets/icon3/iconfont.ttf) format("truetype");
  }
@font-face {
    font-family: yofont;
    src: 
      url(/assets/icon4/iconfont.woff) format("woff"), 
      url(/assets/icon4/iconfont.ttf) format("truetype");
  }
@font-face {
    font-family: yofont;
    src: 
      url(/assets/icon5/iconfont.woff) format("woff"), 
      url(/assets/icon5/iconfont.ttf) format("truetype");
  }
@font-face {
    font-family: yofont;
    src: 
      url(/assets/icon6/iconfont.woff) format("woff"), 
      url(/assets/icon6/iconfont.ttf) format("truetype");
  }