nav{
    .nav{
        display: flex;
        height: 100%;
        .ul-wrapper{
            display: flex;
            flex:1;
            overflow: auto;
            ul{
                display:flex;
                li{
                    padding: 0 .09rem;
                    white-space: nowrap;
                    a{
                       color:#585c64;
                       display: block;
                       height: .44rem;
                       &.active{
                           color: #d34ba8;
                           border-bottom:2px solid #d34ba8;
                       }
                   }
                }
            }
        }
        div:last-child {
            width: .44rem;
            display: flex;
            justify-content: center;
            align-items: center;
            i{
              font-size: .18rem;  
            }
            
        }
    }
}